*{
    padding: 0;
    margin: 0;
}

 html{ 
    font-family: helvetica;
    color: white;}

.video{
    width: 100vw;
     height: 100vh;
    object-fit: cover;
    position: fixed; 
} 

.headder{
    height: 100vh;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


