h1 {
    color:red ;
}

/* estoy probando colores y fuentes */
p{
    color: blue ;
    font-size: 16pt;
    
}

#primera-noticia{
    color:green ;
    font-size: 12pt;
}

#segunda-noticia{
    color:darkmagenta;
    font-size: 12pt;
}

.encabezado{   /*selectores de clases*/
 font-size: 24pt;
 text-transform: uppercase;
}

*.warning{    /*selectores universales*/
    color: red;
}


.autor, .fecha, .ubicacion, h1, #segunda-noticia{    /*selector global de una sola manera*/
    
    text-decoration:underline ;
}


